<template>
    <div class="">
        <div class="jumbotron">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <router-link v-if="this.$store.state.token" to="/create-post" class="btn btn-sm btn-block btn-theme">Start new Discussion</router-link>
                    <router-link v-if="!this.$store.state.token" to="/login" class="btn btn-sm btn-block btn-warning">Login to Start</router-link>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        <div class="col-sm-12 text-center py-2">
                            <square-spin-loader color="#FC427B" v-if="this.postloader" size="2rem"></square-spin-loader>
                        </div>
                        <div class="col-sm-12 mb-1" v-for="post in posts" v-bind:key="post.id"> 
                            <router-link :to="/post/+post.slug">
                            <div class="post">
                                <div class="post-item user-image small-post" v-bind:style="{ backgroundColor: post.user.theme }">{{post.user.name.charAt(0)}}</div>
                                <small class="float-right">{{ post.created_at | moment("from","now") }}</small>
                                <strong>{{post.title}}</strong><br>
                                <small class="text-black-50" v-html="post.content.substring(0,200) + '...'"></small>
                            </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name:"home-page",
    data() {
        return {
            postloader:false,
            posts:[],
            post:{
                id:"",
                color:"",
                title:"",
                slug:"",
                tags:"",
                category:"",
                content:"",
                created:"",
                updated:"",
                user :{
                    id:"",
                    name:"",
                    theme:"",
                    email:"",
                },   
            },
            article_id:"",
            pagination:{},
            edit:false,
        }
    },
    created(){
        this.Posts()
    },
    methods: {
        Posts(){
            this.postloader = true;
            this.$store.dispatch('Posts')
            .then(res=>{
                this.posts = res.data.data;
            })
            .catch(error=>{

            })
            .then(res=>{
                this.postloader = false;
            })
        }
    },
}
</script>