
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://unpkg.com/nprogress@0.2.0/nprogress.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~noty/src/noty.scss";
@import "~noty/src/themes/sunset.scss";
:root {
  --main-color: #FC427B; 
  --main-shadow: 0 1px 6px rgba(0,0,0,0), 0 2px 1px rgba(0,0,0,0.24); 
  --main-border-radius:3px; 
  --primary-color:#1abc9c; 
  --info-color :#00a8ff;
  --secondary-color :#e9ecef;
  --success-color :#2ecc71;
  --warning-color :#e67e22;
  --danger-color :#c0392b;
}
a{
  color: var(--primary-color);
}
a:hover,
a:active,
a:active:focus,
a:focus
{
  text-decoration: none;
}
.main-nav .nav-item .nav-link{
  font-size: 13px;
}
.main-nav .nav-item .nav-link.active{
  color: var(--main-color); 
}
#nprogress .bar{
background: var(--main-color); 
}
#nprogress .peg{
box-shadow: none;   
}
.card{
  border:none;
  border-radius: var(--main-border-radius);
  box-shadow:var(--main-shadow);
}
.form-group{
  position: relative;
}
.form-group label{
  position: absolute;
  left:10px;
  top:-10px;
  background-color: #ffffff;
  color: #9e9e9e;
  padding:0 2px;
  font-size: 13px;
}
.form-group .form-control:focus + label,
.form-group .form-control:active:focus + label,
.form-group .form-control:active + label
{
  color:  var(--main-color); 
}
.form-control,.tags-input-wrapper-default.tags-input{
  border-radius: var(--main-border-radius);
  box-shadow:none;
  border-width: 2px;
}
.tags-input-wrapper-default.tags-input{
  min-height:calc(2.19rem + 2px);
  height:auto;
}
.form-control:focus,
.form-control:active:focus,
.form-control:active{
  border-color: var(--main-color);
  box-shadow: none;
  outline: none;
}
.btn{
  border-radius: var(--main-border-radius);
  border:none;
  color:#ffffff;
}
.btn-theme{
  background-color: var(--main-color);
}
.btn-primary{
  background-color: var(--primary-color);
}
.btn-info{
  background-color: var(--info-color);
}
.btn-secondary{
  background-color: var(--secondary-color);
}
.btn-success{
  background-color: var(--success-color);
}
.btn-warning{
  background-color: var(--warning-color);
}
.btn-danger{
  background-color: var(--danger-color);
}
/* Outline Buttons */
.btn-outline-primary{
  border:1px solid var(--primary-color);
  color:var(--primary-color);
}
.btn-outline-info{
  border:1px solid var(--info-color);
  color:var(--info-color);
}
.btn-outline-secondary{
  border:1px solid var(--secondary-color);
  color:var(--secondary-color);
}
.btn-outline-success{
  border:1px solid var(--success-color);
  color:var(--success-color);
}
.btn-outline-warning{
  border:1px solid var(--warning-color);
  color:var(--warning-color);
}
.btn-outline-danger{
  border:1px solid var(--danger-color);
  color:var(--danger-color);
}
.btn-outline-theme{
  background-color: none;
  border:1px solid var(--main-color);
  color:var(--main-color);
}
.search-bar{
  background-color: var(--secondary-color);
  border:1px solid  var(--secondary-color);
  border-radius: 50px;
}
.search-bar:focus,
.search-bar:active{
  background-color: var(--secondary-color);
}
.post{
  padding:10px 20px;
  border-radius: var(--main-border-radius);
}
.post:hover{
  background-color: rgba(0, 0, 0, 0.03);
}
.post a{
  color: var(--main-color);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.post-title-input{
  width:100%;
  border:none;
  padding:5px;
  font-size: 22px;
  color:  #9e9e9e;
}
.post-title-input:focus,
.post-title-input:active{
  outline:none;
}
.markdown-editor .editor-toolbar{
  border:none;
}
.markdown-editor .CodeMirror{
  border:none;
}
.tags-input-badge{
  font-size: 100% !important;
}
.tags-input-badge-selected-default{
}
.tags-input-wrapper-default.tags-input{
  padding:5px 20px;;
}

//  Is Loading 
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.post-item.isLoading{
  animation: 1s placeHolderShimmer forwards infinite linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #cccccc 8%, #dddddd 18%, #cccccc 33%);
  background-size: 800px 104px;
  position: relative;
}
.post-item.title{
  font-size: 22px;
  line-height: 23px;
  font-weight: 100;
}
.post-item.title.isLoading{
  width: 80%;
  height: 50px;
}
.post-item.datetime.isLoading{
  width: 50%;
  height: 20px;
}
.post-item.user-image{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
  background-color: var(--main-color);
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  color: #ffffff;
}
.post-item.user-image.isLoading{
  background: #f6f7f8;
  background: linear-gradient(to right, #cccccc 8%, #dddddd 18%, #cccccc 33%);
  background-size: 800px 104px;
}
.post-item.user-name{
  margin: auto;
  text-align: center;
  width: 8rem;
  height: 1rem;
  margin-bottom: 5px;
}
.post-item.user-type{
  margin: auto;
  text-align: center;
  width: 5rem;
  height: 0.5rem;
  margin-bottom: 5px;
}
.post-item.button.isLoading{
  margin: auto;
  text-align: center;
  min-height: 2rem;
}
.post-item.content.isLoading{
  width: 100%;
  min-height: 8rem;
}
.post-item.user-image.small-post{
  margin:2px 10px;
  float: left;
  width:2rem;
  line-height: 2rem;
  height:2rem;
}