<template>
    <div class="container">
        <div class="py-4"></div>
        <div class="py-4"></div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4 col-lg-4" id="join-form">
                <div class="card">
                    <div class="card-body">
                        <form action="#" @submit.prevent="login">
                            <div class="form-group">
                                <input type="email" name="username" id="username" class="form-control" v-model="username">
                                <label for="registration_email">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control" v-model="password">
                                <label for="registration_password">Password</label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-theme btn-sm btn-block" :disabled="loading" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "login-page",
        data() {
            return {
                loading:false,
                username: "",
                password: "",
            }
        },
        methods: {
            login() {
                this.loading = true;
                this.$store.dispatch('getToken', {
                    username: this.username,
                    password: this.password
                }).then(response=>{
                    this.$router.push('/');
                }).catch(error=>{
                    
                }).then(res=>{
                    this.loading = false;
                })
            }
        },
    }

</script>
