<template>
    <div class="">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    created:function(){
        if(this.$store.state.token){
            this.$store.dispatch('Auth')
        }
    }    
}
</script>