<template>
    <div class="container">
        <div class="py-4"></div>
        <form action="" class="bg-white p-4 border"  @submit.prevent="CreatePost">
            <div class="form-group border-bottom"><input type="text" name="title" class="post-title-input" placeholder="What's your question" autofocus v-model="title" id="title-post"></div>
            <markdown-editor v-model="content" ref="markdownEditor"></markdown-editor>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <strong>Select a color</strong>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="color" placeholder="Select a Theme" v-model="color.hex8" @focus="colorpickeractive = true">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" v-if="colorpickeractive" @click="colorpickeractive = false"><i class="fas fa-check"></i> </button>
                        </div>
                    </div>
                    <chrome-picker v-model="color" v-if="colorpickeractive"/>
                    </div>
                    <div class="col-sm-12"></div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <strong>Category</strong>
                    <select name="category" id="category" v-model="categoryName" class="form-control">
                        <option v-for="category in categories" v-bind:key="category.id" :value="category.id">{{category.title}}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <strong>Tags</strong>
                    <tags-input element-id="tags" name="tag" v-model="tags" placeholder="Add a tag and press enter" ></tags-input>
                    <input type="hidden" name="user" v-model="this.$store.state.user.id">
                </div>
            </div>
            <div class="py-2"></div>
            <div class="form-group">
                <button type="submit" :disabled="!submitactive" class="btn btn-danger">Submit for Approval</button>
            </div>
        </form>
    </div>
</template>

<script>
import { Chrome } from 'vue-color'

export default {
    data() {
        return {
            colorpickeractive:false,
            title:"",
            content:"",
            tags:"",
            categoryName:"",
            categories:[],
            category:{
                id:"",
                title:"",
            },
            submitactive:true,
            color:{
                hex8:"#FC427B"
            }
        }
    },
    components: {
    'chrome-picker': Chrome
    },
    created:function(){
        this.Categories();
    },
    methods: {
        Categories(){
            this.submitactive = false;
            this.$store.dispatch('Categories').
            then(response=>{
                this.categories = response.data;
            }).catch(error=>{

            }).
            then(res=>{
                this.submitactive = true;
            })
        },
        CreatePost(){
            this.$store.dispatch('CreatePost', {
                title: this.title,
                content: this.content,
                tags: this.tags,
                category: this.categoryName,
                user: this.$store.state.user.id,
                color: this.color.hex8,
            }).then(response=>{
                
            }).catch(error=>{

            }).then(res=>{
                this.loading = false;
            })
        }
    },
}
</script>