<template>
    <div>
        <div class="jumbotron text-center text-white align-center" v-bind:style="{ backgroundColor: post.color }">
            <h1 class="post-item title" v-bind:class="{ isLoading: loading }" v-text="post.title"></h1>
            <span class="badge badge-danger" v-text="post.category.title"></span>
            <small class="post-item datetime" v-bind:class="{ isLoading: loading }">{{ post.created_at | moment("dddd, MMMM Do YYYY") }}</small>
        </div>
        <div class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <div class="post-item user-image" v-bind:style="{ backgroundColor: post.user.theme }" v-bind:class="{ isLoading: loading }" >{{post.user.name.charAt(0)}}</div>
                        <div class="post-item user-name" v-bind:class="{ isLoading: loading }">{{post.user.name}}</div>
                        <div class="post-item user-type" v-bind:class="{ isLoading: loading }"></div>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <square-spin-loader color="#FC427B" v-if="loading" size="2rem"></square-spin-loader>
                        <div class="post-item content" v-bind:class="{ isLoading: loading }" v-html="post.content" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading:true,
            post:{
                category :{
                    id:"",
                    title:""
                },
                color :"",
                content :"",
                created_at :"2000-01-01 00:00:00",
                id :"",
                slug :"",
                status :"",
                tags :"",
                title :"",
                updated_at :"",
                user :{
                    id:"",
                    name:"",
                    theme:"",
                    email:"",
                },                
            }
        }
    },
    created() {
        this.GetPosts();
        console.log(randomColor())
    },
    mounted() {

    },
    methods: {
        GetPosts(){
            this.$store.dispatch('GetPost',{id:this.$route.params.id}).
            then(response=>{
                this.post = response.data;
            }).catch(error=>{

            }).
            then(()=>{
                this.loading = false;
            });
        }
    },
}
</script>