<template>
    <div>
        <div v-if="this.$store.state.token">
            Logged In
        </div>
    </div>
</template>
<script>
export default {
    name:"my-account-page",
    data() {
        return {
                   
        }
    },
}
</script>